/* Estilos de la página y estructura */
#attendance-header {
    margin-top: 0;
}

#attendance-header-container {
    background-color: var(--background-light) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#attendance-form-container, #attendance-filter-container, .card, .table-responsive, #attendance-pages-container {
    background-color: var(--background-light) !important;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }   
}

/* Estilos de cards */
.general-report-cant {
    font-size: 30px;
    font-weight: bold;
}

.card {
    transition: transform 0.3s ease;
    animation: fadeInUp 1s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

@media (max-width: 770px) {
    .resume-card {
        margin-top: .75rem;
        font-size: 15px !important;
    }
}

input:disabled {
    background-color: var(--background-light) !important;
    color: var(--primary-dark) !important;
}

/* Estilos de texto para la tabla */
#attendance-pages-results{
    font-size: 13px;
}

#attendance-table {
    font-size: 14px !important;
}

th {
    color: var(--secondary) !important;
}

.attendance-departament, .attendance-entrance, .attendance-exit {
    color: var(--secondary) !important;
}

/* Estilos para impresión */
@media print {
    .container {
        margin: 0 !important;
        padding: 0 0 1.5rem 0 !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    #register-container {
        width: 100% !important;
        padding: 0 !important;
        margin: 0 auto !important;
        font-size: 12px !important;
    }

    /* Asegurar que no se corten filas entre páginas */
    tr {
        page-break-inside: avoid !important;
    }
}
