/* Estilos de la página y estructura */
#staff-header {
    margin-top: 0;
}

#staff-header-container {
    background-color: var(--background-light) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#staff-form-container, #staff-register-container, #staff-info-container {
    background-color: var(--background-light) !important;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#staff-container {
    padding-left: 32px;
    padding-right: 17px;
}

#staff-filter, #staff {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#staff {
    max-height: 400px;
    /* Habilita el scroll vertical */
    overflow-y: auto;
    overflow-x: hidden;
}

#staff-info-container {
    animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#logo-info {
    opacity: 0.5;
}

hr {
    margin-top: 0px;
}

@media (max-width: 770px) {
    #staff-container {
        padding-left: 32px;
        padding-right: 31px;
    }
}

/* Estilos para inputs */
#search-filter {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='%23000' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(0% + 12px) center;
    background-size: 14px 14px;
    padding-left: 40px;
}

.label-over-border, #filter-btn-container {
    margin-bottom: 1.3rem;
}

/* Estilos de texto para la información */
.staff-title {
    font-size: 15px;
    color: var(--secondary) !important;
}

.staff-id {
    font-size: 13px;
    color: var(--secondary) !important;
}
