/* Estilos de la página y estructura */
#vacations-header {
    margin-top: 0;
}

#vacations-header-container {
    background-color: var(--background-light) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#vacations-form-container, #vacations-filter-container, .table-responsive, #vacations-pages-container {
    background-color: var(--background-light) !important;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

th {
    color: var(--secondary) !important;
}

/* Estilos de texto para la tabla */
.vacations-company {
    font-weight: bold;
}

.vacations-rfc, .vacations-phone, .vacations-cp, #vacations-pages-results {
    font-size: 13px;
    color: var(--secondary) !important;
}
